<div class="container">
  <div *ngIf="success">
    Parooli määramine õnnestus
    <div>
      <button routerLink="/login" mat-button color="primary">Logi sisse</button>
    </div>
  </div>
  <div class="pw-change-container" *ngIf="!success">
    <form [formGroup]="passwordForm" (ngSubmit)="submit()">
      {{error}}
      <mat-form-field style="width: 100%">
        <mat-label>Uus parool</mat-label>
        <input formControlName="newPassword" matInput>
      </mat-form-field>
      <mat-form-field style="width: 100%">
        <mat-label>Uue parooli kinnitus</mat-label>
        <input formControlName="newPasswordConfirm" matInput>
      </mat-form-field>
      <button type="submit" class="full-width" mat-raised-button color="accent">Salvesta</button>
    </form>
  </div>
</div>

